.square {
  width: 70px;
  height: 70px;
  background-color: var(--gray-200);
  border: 1px solid var(--gray-300);
  color: var(--gray-900);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
  float: left;
}
